.type .card:hover {
  opacity: 0.5;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.type {
  margin: 30px;
}

.card-title-n {
  font-size: 16px;
  text-transform: uppercase;
}

.card-title-n {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin: 15px 0;
  color: #0051ab;
  text-transform: uppercase;
}
